<section class="auth-form">
  <div class="auth-form-content">
    <div class="auth-form-content-header">Registrate</div>
    <form action="/register" method="post">

      <label for="first_name">Nombre</label>
      <input type="text" id="first_name" name="first_name" placeholder="Nombre" required />

      <label for="last_name">Apellido</label>
      <input type="text" id="last_name" name="last_name" placeholder="Apellido" required />

      <label for="dni">Dni</label>
      <input type="text" id="dni" name="dni" placeholder="Dni" required />

      <label for="direccion">Direccion</label>
      <input type="text" id="direccion" name="address" placeholder="Direccion" required />

      <label for="reg_email">Email</label>
      <input type="email" id="reg_email" name="email" placeholder="E-mail" required />

      <label for="reg_password">Contrase単a</label>
      <input type="password" id="reg_password" name="password_digest" placeholder="Contrase単a" required />

      <label for="reg_password">Confirmar contrase単a</label>
      <input type="password" id="comfirm_pwd" name="password_digest" placeholder="Confirmar Contrase単a" required />

      <button type="submit">Registrarse</button>
    </form>
  </div>
</section>

