<div class="dashboard-container">

  <h1 class="section-header w-full">Contactos</h1>

  <input class="input input--search w-full" type="search" placeholder="Busca un contacto"/>

  <a href="#" class="h-auto flex align-self-start lightGrayBG border-radius-small justify-center spacing-m gap-m">
    <div class="btn btn--orangeBG border-radius-small">
      <div class="flex justify-center items-center spacing-s">
        <img src="/assets/icons/plusSign.svg" class="icon-s">
      </div>
    </div>
    <div class="flex justify-center items-center text-primary font-semibold text-l">Nuevo contacto</div>
  </a>

  <div class="list list--scrollable w-full">
    <!-- Aquí se agregan los contactos -->
    <!-- Cambiar por los contactos del usuario -->
    <% contacts = [
      {name: "Pepe McPepe", email: "pepemcpepe@hotmail.com"},
      {name: "Pepe McPepe", email: "pepemcpepe@hotmail.com"},
      {name: "Pepe McPepe", email: "pepemcpepe@hotmail.com"},
      {name: "Pepe McPepe", email: "pepemcpepe@hotmail.com"}
    ] %>

    <% contacts.each do |contact| %>
      <div class="list-item border-bottom-white">
        <div class="persona">
          <div class="persona__avatar">
            <img src="/assets/defaultAvatar.svg" alt="Avatar" class="avatar avatar--s" />
          </div>
          <div class="persona__datosPersona">
            <p class="name"><%= contact[:name] %></p>
            <p class="email"><%= contact[:email] %></p>
          </div>  
        </div> 
      </div>
    <% end %>

  </div>
</div>

