<div class="dashboard-container">
    <div class="card">
        <span class="text-xl font-bold">$10.000</span>
        <div class="btn-group">
            <a href="/dashboard/cargar" class="btn btn--round btn--orangeBG grayOUTLINE">Cargar dinero</a>
            <a href="/dashboard/transferir" class="btn btn--round btn--grayBG">Transferir</a>
        </div>
    </div>
    
    <div class="flex flex-col w-full gap-m">
        <h2 class="section-header">Últimos movimientos</h2>
        <input type="text" placeholder="Buscar" class="input input--search">
        
        <div class="list list--scrollable movimientos-list">
            <!-- Ejemplos de movimientos, se deben generar dinamicamente con codigo ruby aca de acuerdo a la cuenta logueada -->
            <a href="#" class="movimiento list-item">
                <div class="persona">
                    <div class="persona__avatar">
                        <img src="/assets/defaultAvatar.svg" alt="Avatar" class="avatar avatar--s">
                    </div>
                    <div class="persona__datosPersona">
                        <p class="name">Nombre Apellido</p>
                        <p class="email">pepeMcPepe@gmail.com</p>
                    </div>
                </div>
                <div class="movimiento__detalles">
                    <p class="text-m text-primary">$37.200</p>
                    <span class="text-s text-secondary">23/05 - 10:38</span>
                </div>
            </a>

            <a href="#" class="movimiento list-item">
                <div class="persona">
                    <div class="persona__avatar">
                        <img src="/assets/defaultAvatar.svg" alt="Avatar" class="avatar avatar--s">
                    </div>
                    <div class="persona__datosPersona">
                        <p class="name">Nombre Apellido</p>
                        <p class="email">pepeMcPepe@gmail.com</p>
                    </div>
                </div>
                <div class="movimiento__detalles">
                    <p class="text-m text-primary">$37.200</p>
                    <span class="text-s text-secondary">23/05 - 10:38</span>
                </div>
            </a>

            <a href="#" class="movimiento list-item">
                <div class="persona">
                    <div class="persona__avatar">
                        <img src="/assets/defaultAvatar.svg" alt="Avatar" class="avatar avatar--s">
                    </div>
                    <div class="persona__datosPersona">
                        <p class="name">Nombre Apellido</p>
                        <p class="email">pepeMcPepe@gmail.com</p>
                    </div>
                </div>
                <div class="movimiento__detalles">
                    <p class="text-m text-primary">$37.200</p>
                    <span class="text-s text-secondary">23/05 - 10:38</span>
                </div>
            </a>

            <a href="#" class="movimiento list-item">
                <div class="persona">
                    <div class="persona__avatar">
                        <img src="/assets/defaultAvatar.svg" alt="Avatar" class="avatar avatar--s">
                    </div>
                    <div class="persona__datosPersona">
                        <p class="name">Nombre Apellido</p>
                        <p class="email">pepeMcPepe@gmail.com</p>
                    </div>
                </div>
                <div class="movimiento__detalles">
                    <p class="text-m text-primary">$37.200</p>
                    <span class="text-s text-secondary">23/05 - 10:38</span>
                </div>
            </a>
        </div>
    </div>
</div>