<div class="container">
    <div class="balance-card">
        <span>$10.000</span>
        <div class="buttons">
            <div class="button cargar">
                <a href="/dashboard/cargar">Cargar dinero</a>
            </div>
            <div class="button transferir">
                <a href="/dashboard/transferir" >Transferir</a>
            </div>
        </div>
    </div>
    <div class="movimientos-container">
        <h2>Últimos movimientos</h2>
        <input type="text" placeholder="Buscar" class="search-input">
        <div class="movimientos">
            <!-- El contenido de los movimientos se debe generar dinámicamente de acuerdo al TransferLog del usuario -->
            <a href="#"" class="movimiento">
                <div class="movimiento-avatar">
                    <img src="/assets/defaultAvatar.svg" alt="Default Avatar">  
                </div>
                <div class="movimiento-persona">
                    <p class="name">Nombre Apellido</p>
                    <p class="email">pepeMcPepe@gmail.com</p>
                </div>
                <div class="movimiento-datos">
                    <p class="movimiento-balance">$37.200</p>
                    <span class="movimiento-fecha-hora">23/05 - 10:38</span>
                </div>
            </a>

            <a href="#"" class="movimiento">
                <div class="movimiento-avatar">
                    <img src="/assets/defaultAvatar.svg" alt="Default Avatar">  
                </div>
                <div class="movimiento-persona">
                    <p class="name">Nombre Apellido</p>
                    <p class="email">pepeMcPepe@gmail.com</p>
                </div>
                <div class="movimiento-datos">
                    <p class="movimiento-balance">$37.200</p>
                    <span class="movimiento-fecha-hora">23/05 - 10:38</span>
                </div>
            </a>

            <a href="#"" class="movimiento">
                <div class="movimiento-avatar">
                    <img src="/assets/defaultAvatar.svg" alt="Default Avatar">  
                </div>
                <div class="movimiento-persona">
                    <p class="name">Nombre Apellido</p>
                    <p class="email">pepeMcPepe@gmail.com</p>
                </div>
                <div class="movimiento-datos">
                    <p class="movimiento-balance">$37.200</p>
                    <span class="movimiento-fecha-hora">23/05 - 10:38</span>
                </div>
            </a>

            <a href="#"" class="movimiento">
                <div class="movimiento-avatar">
                    <img src="/assets/defaultAvatar.svg" alt="Default Avatar">  
                </div>
                <div class="movimiento-persona">
                    <p class="name">Nombre Apellido</p>
                    <p class="email">pepeMcPepe@gmail.com</p>
                </div>
                <div class="movimiento-datos">
                    <p class="movimiento-balance">$37.200</p>
                    <span class="movimiento-fecha-hora">23/05 - 10:38</span>
                </div>
            </a>
        </div>
    </div>
</div>