<div class="dashboard-container">
    <!-- Una sola tarjeta -->
    <div class="flex flex-col gap-l w-full blackBG border-radius-small spacing-l" style="max-height: calc(100vh - 80px); overflow-y: auto">
            
        <!-- Header con bot칩n para atr치s -->
        <div class="section-header flex items-center gap-m">
            <a href="/dashboard/opciones">
                <img src="/assets/icons/arrowleft.svg" alt="arrow left icon" class="icon">
            </a>
            <h1 class="text-l font-bold">Datos de tu cuenta</h1>
        </div>

        <!-- Informaci칩n de la Cuenta (Read-only)  -->
        <form action="/dashboard/update_account_data" method="post" class="text-primary flex flex-col gap-m">
            <!-- Username Field -->
            <div class="form-field">
                <label>Nombre de usuario</label>
                <div class="w-full">
                    <input type="text" name="username" value="<%= current_account&.id %>" class="w-full lightGrayBG border-radius-small text-m text-primary spacing-s noOutline" readonly>
                </div> 
            </div>

            <!-- Alias  -->
            <div class="form-field">
                <label>Alias</label>
                <div class= "w-full grid" style="grid-template-columns: 1fr auto">
                    <input type="text" name="alias" value="<%= current_account&.alias %>" class="w-full lightGrayBG border-radius-small text-m text-primary spacing-s noOutline" readonly>
                    <div class= "btn" onclick="toggleEdit(this)">
                        <img src="/assets/icons/edit.svg" alt="edit icon">
                    </div>
                </div>
            </div>

            <!-- CVU  (Read-only) -->
            <div class="form-field">
                <label>CVU</label>
                <div>
                    <input type="text" name="cvu" value="<%= @current_account&.cvu %>" class="w-full lightGrayBG border-radius-small text-m text-primary spacing-s noOutline" readonly>
                </div>
            </div>

            <!-- Bot칩n de Guardado (hidden by default) -->
            <div class="save-section" style="display: none; margin-top: var(--spacing-m);">
                <button type="submit" class="btn btn--orangeBG w-full noOutline font-bold" style="cursor: pointer;">
                    Guardar cambios
                </button>
            </div>
        </form>
    </div>
</div>