<div class="container pago-container">
    <h1 class="prompt">¿Cuánto desea pagar?</h1>
    <div class="datos-persona">
        <div class="avatar">
            <img src="/assets/defaultAvatar.svg" alt="Avatar">
            <p class="nombre-persona">Pepe McPepe</p>
            <p class="email-persona">pepemcpepe@gmail.com</p>
        </div>
    </div>
    <div class="datos-pago">
        <div class="saldo">
            <div class="monto">
                <span class="moneda">$</span>
                <input type="text" class="input-monto" value="0" min="0">
            </div>
            <div class="disponible">
                Disponible $100.028,00
            </div>
        </div>
        <div class="buttons">
            <a href="#" class="button cancelar">Cancelar</a>
            <a href="#" class="button pagar">Pagar</a> 
        </div>
    </div> 
</div>