<div class="dashboard-container grid grid--pago">
    <h1 class="section-header text-center" style="grid-area: prompt;">
        ¿Cuánto desea pagar?
    </h1>
    
    <div class="flex flex-col justify-center items-center gap-s" style="grid-area: persona;">
        <img src="/assets/defaultAvatar.svg" alt="Avatar" class="avatar avatar--m">
        <p class="font-bold text-primary">
            <!-- persona que va a recibir el pago -->
            Pepe McPepe
        </p>
        <p class="text-s text-secondary">
            <!-- email de la persona que va a recibir el pago -->
            pepemcpepe@gmail.com
        </p>
    </div>
    
    <div class="form-section" style="grid-area: datos;">
        <div class="form-field">
            <div class="form-field__amount">
                <span class="text-xxl text-primary">$</span>
                <input type="text" class="input input--amount w-full" placeholder="0" min="0">
            </div>
            <div class="text-m text-secondary">
                <!-- saldo del usuario -->
                Disponible $100.028,00
            </div>
        </div>
        
        <div class="btn-group">
            <a href="#" class="btn btn--round orangeOUTLINE text-primary">Cancelar</a>
            <a href="receipt" class="btn btn--round btn--orangeBG text-gray">Pagar</a> 
        </div>
    </div> 
</div>