<div class="dashboard-container text-primary">
    <div class="confirmed orangeBG whiteOUTLINE flex justify-center items-center border-radius-round">
        <img src="/assets/icons/check.svg" class="icon--xl">
    </div>
    <div class="text-center">
        <span class="text-xxl font-bold">$</span>
        <span class="text-xxl font-bold">
            <!-- monto pagado -->
            10.000
        </span> 
    </div>
    <div class="details flex flex-col gap-s justify-center gray2BG border- spacing-xxl w-full border-radius-small">
        <div class="flex justify-between">
            <p>Para:</p>
            <p class="font-bold">
                <!-- persona que recibe el pago -->
                Pepe McPepe
            </p>
        </div>
        <div class="flex justify-between">
            <p>Fecha:</p>
            <p class="font-bold">
                <!-- fecha y hora del movimiento -->
                23/05 - 10:38
            </p>
        </div>
        <div class="flex justify-between">
            <p>Alias:</p>
            <p class="font-bold">
                <!-- alias de la persona que recibe el pago -->
                pepe.mcPepe
            </p>
        </div>
        <div class="flex justify-between">
            <p>ID Movimiento:</p>
            <p class="font-bold">
                <!-- id del movimiento -->
                123456789
            </p>
        </div>
    </div>
    <div class="btn-group">
        <a href="/dashboard/home" class="btn btn--round btn--orangeOUTLINE text-primary">Volver</a>
        <a href="#" class="btn btn--round btn--orangeBG text-gray">Compartir comprobante</a>
    </div>
</div>