.balance-card {
    width: 40vw;
    max-width: 400px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--obvio-orange);
    color: var(--obvio-gray);
    padding: 2rem;
    border-radius: 10px;
    gap: 1rem;
}

.balance-card span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.cargar {
    border: 3px solid var(--obvio-gray);
}

.cargar a {
    color: var(--obvio-gray);    
}

.transferir {
    background-color: var(--obvio-gray);
}

.transferir a {
    color: white;    
}