.movimiento {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-top: 1px solid var(--color-border);
  transition: background-color var(--transition);
}

.movimiento__detalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-primary);
  font-size: var(--font-size-m);
}